DATABASE_URL="url_database"
REDIS_URL="redis_url"
SECRET_KEY="chave_secreta"
FRONTEND_URL="url_front"

MAIL_SERVER="server_mail"
MAIL_PORT="00000"
MAIL_USE_TLS="Boolean"
MAIL_USERNAME="seu_email@gmail.com"
MAIL_PASSWORD="sua_senha_de_app"
MAIL_DEFAULT_SENDER="seu_email@gmail.com"

JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
# Chaves Assimetricas (RS256)
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
